<div class="heroes-list-container">
    <div class="heroes">
        <div class="heroes-filter">
            <mat-form-field appearance="fill">
                <input matInput (input)="onFilterChange($event)" placeholder="Filtrar por nombre" />
            </mat-form-field>
        </div>
        <div class="heroes-list">
            <mat-list>
                <mat-list-item *ngFor="let hero of filteredHeroes$ | async">
                    <div class="hero-list-item">
                        <div class="hero-name">
                            <mat-icon
                                aria-hidden="false"
                                aria-label="person"
                                fontIcon="person"
                            ></mat-icon>
                            {{ hero.name | titlecase }}
                        </div>
                        <div class="hero-actions">
                            <button mat-icon-button aria-label="Editar" (click)="editHero(hero.id)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>
        <div class="heroes-bottom">
            <button mat-flat-button (click)="addHero()">Añadir</button>
        </div>
    </div>
</div>
<ngx-ui-loader></ngx-ui-loader>
