.confirm-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 10px 8px;
    background-color: antiquewhite;
  }
  
.confirm-msg {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  button {
    min-width: 80px;
  }
 

  