<div *ngIf="hero" class="heroes-form">
    <form (ngSubmit)="saveHero()">
        <mat-form-field>
            <input
                matInput
                [(ngModel)]="hero.name"
                (ngModelChange)="transformToUpperCase($event)"
                name="name"
                placeholder="Introduce un nombre"
                required
            />
        </mat-form-field>
        <div class="button-group">
            <button mat-flat-button color="accent" type="button" (click)="goBack()">
                Cancelar
            </button>
            <button mat-flat-button color="primary" type="submit">Guardar</button>
        </div>
    </form>
</div>
